.jumbotron{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position:right 95% bottom 80%;
    margin-bottom: 0px;
}

.title{
    font-size:60px;
    color:rgb(15, 91, 153);
    text-shadow: 0 6px 6px rgb(204, 191, 11), 0 6px 10px rgb(204, 191, 11);
}